In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

#from selenium import webdriver

## NASA Mars News

In [2]:
# URL of page to be scraped. 
url = 'https://mars.nasa.gov/news/'

In [3]:
# Retrieve page with the requests module. Make a request to the url.
response = requests.get(url)
print(response)

<Response [200]>

In [4]:
# Create a Beautiful Soup object
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# Latest News Title
news_title = soup.find('div', class_='content_title').text
print(news_title)

Opportunity Hunkers Down During Dust Storm

In [6]:
# Get paragraph text
news_p = soup.find('div', class_='rollover_description_inner').text
print(news_p)

As of Tuesday morning, June 19, the Martian dust storm had grown in size and was officially a "planet-encircling" (or "global") dust event.

## JPL Mars Space Images - Featured Image

In [7]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
# URL of page to be scraped. 
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
#Feed browser.html into BeautifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
browser.click_link_by_partial_text('FULL IMAGE')

In [11]:
browser.click_link_by_partial_text('more info')

In [12]:
jpl_html = browser.html
jpl_soup = BeautifulSoup(jpl_html, 'html.parser')
temp_url = jpl_soup.find('img', class_='main_image')
img_url = temp_url.get('src')

feature_image_url = "https://www.jpl.nasa.gov" + img_url

print(feature_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17254_hires.jpg

In [13]:
#Close the chrome browser 
browser.quit()

## Mars Weather

In [14]:
# URL of page to be scraped. 
url = 'https://twitter.com/marswxreport?lang=en'

In [15]:
# Retrieve page with the requests module. Make a request to the url.
response = requests.get(url)
print(response)

<Response [200]>

In [16]:
# Create a Beautiful Soup object
soup = BeautifulSoup(response.text, 'html.parser')

In [17]:
tweets = []
tweets = soup.find_all('div', class_="js-tweet-text-container")
type(tweets)

bs4.element.ResultSet

In [18]:
for i in range(20):
    t = tweets[i].text
    if "Sol " in t:
        mars_weather = t
        print(mars_weather)
        break

Sol 2108 (2018-07-12), Sunny, high -24C/-11F, low -65C/-84F, pressure at 8.06 hPa, daylight 05:19-17:27

## Mars Facts

In [19]:
# URL of page to be scraped. 
url = 'https://space-facts.com/mars/'

In [20]:
#List of dataframes of any tables it found
tables = pd.read_html(url)  
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
df = tables[0]
df.columns = ['Profile','Data']
df.head()

                Profile                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [22]:
#DataFrame to HTML
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Profile</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 Â°C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [23]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Profile</th>      <th>Data</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [24]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
# URL of page to be scraped. 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [26]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [27]:
hemisphere_image_urls = []                                              

products = soup.find('div', class_='result-list')                   
hemispheres = products.find_all('div', class_='item')

for hemisphere in hemispheres: 
    title = hemisphere.find('div', class_='description')
    
    title_text = title.a.text  
    title_text = title_text.replace(' Enhanced', '')
    browser.click_link_by_partial_text(title_text)
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')                           
    
    image = soup.find('div', class_='downloads').find('ul').find('li') 
    img_url = image.a['href']
    
    hemisphere_image_urls.append({'title': title_text, 'img_url': img_url})
    
    browser.click_link_by_partial_text('Back')

In [28]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [29]:
#Close the chrome browser 
browser.quit()